 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
scroll-behavior: smooth;
font-family: 'Poppins', sans-serif;

}
:root{
--bg-color:#2a2a2a;
--second-bg-color: #202020;
--second-color:#fff;
--text-color:#ccc;
--main-color: #05b4ff;
--big-font:5rem;
--h2-font:3rem;
--p-font:1.1rem;
}

body{
    background: var(--bg-color);
    color:var(--text-color);

}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding:23px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;

}

.logo{
    color: var(--text-color);
    font-size: 35px;
     font-weight: 700;
    letter-spacing: 1px;
    }
    #menuToggle input{
        position: relative;
        display: none;
    }
    span{
        color: var(--main-color)
    }
.navlist{
 display: flex;

}

.navlist a{
    color:var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover{
    color: var(--main-color);
}
.navlist a:active{
    color: var (var(--main-color))
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    margin-left: 25px;
    display: none;

}
section{
padding: 160px 15% 120px;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url('../img/supra.jpg') no-repeat center center/cover;
   

}
.home:after{
    content: '';
    position: absolute;
    top:0 ;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0, 0.6);
    box-shadow: inset 75px 75px 150px #000000;
}
.home-section{
    z-index: 100;
    position: absolute;
   
}
.slide{
    margin-bottom: 20px;
}

.one{
    display: inline-block;
    margin-right: 15px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--second-color);
 z-index: 4;
}
.two{
 display: inline-block;
 color: var(--second-color);
 font-size: 20px;
 font-weight: 500;

}
.home-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;
    z-index: 10;
}
.typewrite{
    font-size: var(--h2-font);
    letter-spacing: 1px;
    border-right: 3px  var(--text-color) solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;

  }
.home-text h3{
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}
.home-text p{
    background: var();
    color: var(--second-color);
    font-size:var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
    text-align: left;
    width: 75%;
}

.button{
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.button .bx{
    display: inline-block;
    padding: 10px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--second-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all .45s ease;
}
.button .bx:hover{
    transform: scale(0.9);
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-img img{
max-width: 530px;
height: auto;
width: 100%;
border-radius: 5px;
}
.about-text h2{
    font-size: 24px;
    line-height: 1;
}
.about-text h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.8;
    margin-bottom: 4rem;
}

.target {
    display: inline-block;
    gap:30px;
    text-align:center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
}
.target i{
    height: 45px;
    width: 45px;
    color: var(--second-color);
    font-size: 50px;
    
    transition: transform 0.5s ease-in-out;

}
.target i:hover{  
    color: var(--main-color);

}
.spin {
    animation: spin 0.5s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.services{
    background: var(--second-bg-color);
}
.main-text{
    text-align: center;
}
.main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}
.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,    auto));
    align-items: center;
    gap:2.5rem;
    margin-top: 5rem;
}
.box{
    background: var(--bg-color);
    padding:35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}
.s-icons i{
    font-family: 32px;
    margin-bottom: 20px;
}
.box h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}
.box p{
    color:var(--second-color);
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 25px;
}
.box:hover{
    transform: translateY();
    cursor: pointer;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap:2.5rem;
    margin-top: 5rem;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;

}

.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transfrom 0.5s;

}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #00a6ff);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    font: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: var(--p-color);
    font-size: 1rem;
    line-height: 1.8;
}
.layer i {
    color:var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50% ;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 80%;
}
.content{
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap:2.5rem;

}
.contact{
    background:var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap:2.5rem;
}
.contact-text h4{
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;

}
.contact-text h2{
    font-size: var(--h2-font);
    line-height: 1;

}
.contact-text p{
    color: var(--second-color);
    font-size: var(--p-color);
    line-height: 1.8;
    margin-bottom:30px;   
}
.list{
    margin-bottom: 2.8rem;
}

.list li{
    margin-bottom: 12px;
}
.list li a{
    display:block;
    color: var(--second-color);
    font-size: 14px;
    transition: all .45 ease;
}
.list li a:hover{
 
  transform: translateY(5px);
}
.contact-icons i{
height: 45px;
width: 45px;
color: var(--second-color);
font-size: 22px;
display: inline-block;
align-items: center;
justify-content: center;
border-radius: 8px;
margin-right: 15px;
transition: all .45 ease;
}
.contact-icons i:hover{
color: var(--text-color);

}

.contact-form form{
position: relative;
}
.contact-form form input,form textarea{
    width: 100%;
    padding: 14px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    font-size:15px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.contact-form textarea{
    resize: none;
    height: 240px;
}
.contact-form .submit{
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color:var(--second-color);
    width: 160px;
    transition: all .45s ease;
}
.contact-form .submit:hover{
 transform: scale(1.1);
    cursor: pointer;

}
.end{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: var(--bg-color);
}
.last-text{
    color:var(--second-color);    
}
.top i{
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: var(--text-color);
    background:var(--main-color) ;
}

@media (max-width:1480px) {
    header{
        padding: 12px 2.5%;
        transition: .1s;
    }
    section{
        padding:110px 3% 60px;
    }
    .end{
        padding: 15px 3%;
    }

}
@media(max-width:1100px){

:root{
    --big-font:4rem;
    --h2-font:2.5rem;
    --p-font:1rem;
    transition: .1s;
}
.home-section{
    top:25px;
}
.home-text h3{
font-size: 2rem;

}
.typewrite{
    font-size:25px;
}
.home-text p{
    text-align: left;
    width: 85%;
    letter-spacing: .5px;
   
}
.home{
    height:121vh;
    top:60px;
    font-size: .5em;
}
}
@media(max-width:920px){

.about{
    grid-template-columns: 1fr;
}
.about-img img{
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
}

.contact{
 grid-template-columns: 1fr;
}
}
@media(max-width: 480px){
  #menu-icon{
    display: block;
}
nav {
    background-color: #1E1E23;
    height: 65px;
  }
  
  
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top:-2px;
    left:-230px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background:var(--second-color);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: var(--second-color);
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #navlist
  {
    position: absolute;
    border-radius: 35%;
    box-shadow: 0 0 10px var(--main-color);
    width: 180px;
    height: 280px; 
    margin: -50px 0 0 -50px;
    padding: 35px;
    padding-top: 100px;
    flex-direction: column;
    background-color: var(--second-bg-color);
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #navlist a
  {
    padding: 10px 0;
    transition-delay: 2s;
    display: flex;
    
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
}
